.algo-header{
  height: auto;
  padding: 5px 40px;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}

.logo{
  font-size: 2rem;
  color: #fff;
  font-family: 'New Tegomin', serif;
}
.secondary{
  color: var(--softblue);
}

.right-side-nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  width: 30%;
}
