.algo-cards-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.algo-list{
  display: flex;
  width: auto;
  margin: 20px auto;
}

.card-viz{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-viz >*{
  margin: 10px;
}

.algo-card{
  width:fit-content;
  height: auto;
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border: 1px solid var(--dark-gray);
}
.title-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lg-logo{
  font-size: 3rem;
  font-family: 'New Tegomin', serif;
  text-decoration: none;
}

.card-img{
  border: 1px solid var(--dark-gray);
}

.card-info a{
  text-decoration: none;
}

.card-info{
  display: flex;
  justify-content: space-between;
}

.card-link,
.t-link{
  padding: 2px 4px;
  border-radius: 10px;
  transition: .3s;
}
.t-link{
  background-color: rgb(237, 243, 157);
}
.card-link{
  background-color: rgb(231, 226, 214);
  font-weight:bold;
}
.card-link:hover{
  background-color: rgb(206, 198, 180);
}
.t-link:hover{
  background-color: rgb(206, 212, 113);
}

.tags-container{
  position: relative;
  width: 240px;
  height: 30px;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  max-height: 30px;
  background-color: rgba(241, 241, 241,0.9);
  border:1px solid #ddd;
  border-radius: 2px;
  margin: 10px 0px;
  overflow: hidden;
  box-shadow: 0 0 5px var(--light-gray);
}
.tags:hover{
  max-height: 500px;
    transition: max-height 0.5s ease-in;
}

.filter{
  margin: 5px 5px 5px 1px;
  background-color: rgb(231, 226, 214);
  padding: 0px 4px;
  border-radius: 8px;
  transition: .3s;
  box-shadow: 0 0 1px rgb(175, 168, 152);
}

.filter:hover{
  background-color: #aaa;
  cursor: pointer;
}
