.page-container{
  margin-top: 10px;
  display: flex;
  padding: 20px;
  height: 200vh;
  background-color: cornflowerblue;
}

.main-section{
  width: 100%;
  height: 80vh;
}
.aside-section{
  margin-top: 20px;
  height: auto;
  background-color: #fff;
  border: 1px solid black;
}

.animation-area{
  width: 100%;
  height: 50vh;
  background-color: #fff;
}

.description-area{
  width: 100%;
  height: 100%;
  background-color: rgb(226, 128, 63);
}

.code-area{
  width: 100%;
  height: 50%;
  background-color: rgb(228, 217, 66);
}

/* Algorithms List */
.page-title-container{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
  padding: 3px;
  box-shadow: 0 0 2px #fff;
  margin: 1px;
}
.algo-list{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.algo-li{
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  margin: 3px;
  border-radius: 50px;
  box-shadow: 0 0 2px #fff;
}
.algo-li >*{
  margin: 3px;
}

.code-box{
  display: flex;
  min-height: 30vh;
}

.code-container{
  margin: 20px 20px 20px 5px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border: 1px solid #aaa;
}
.code-options{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.icons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  
}
.icon{
  margin: 5px;
  cursor: pointer;
}
.icon-button{
  background-color: transparent;
  border: none;
  outline: none;
}

.animation-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45.6vh;
}

.animation-content{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 90%;
  width: 95%;
  padding: 3px;
  background-color: rgb(240, 240, 240);
  border: 1px solid #aaa;
}

.tile{
  width: 40px;
  border: 1px solid black;
  margin: 3px;
  color: #fff;
  text-align: center;
  transition: .5s;
}

.animation-control{
  background-color: #333;
  margin: 10px;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 30%;
}