/* ======================================= */
/* ======== SET GLOBAL VARIBLES: ========= */
/* ======================================= */

html{
  --dark: #222;
  --dark-gray: #333;
  --light-gray: #ccc;
  --yellowish: #ffe23f;
  --soft-blue: rgb(98, 161, 255);
  --light-blue: rgb(154, 218, 255);
}

/* ======================================= */
/* ======== SET UTILITY CLASSES: ========= */
/* ======================================= */

.secondary{
  color: var(--soft-blue);
}

.primery{
  color: #fff;
  text-shadow: 
  -1px 0 #555,
   0 1px #555,
  1px 0 #555,
   0 -1px #555;
}

.subtext{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: var(--dark-gray);
}
