/* ======================================= */
/* ======== SET GLOBAL VARIBLES: ========= */
/* ======================================= */

html{
  --dark: #222;
  --dark-gray: #333;
  --light-gray: #ccc;
  --yellowish: #ffe23f;
  --softblue: rgb(98, 161, 255);
}


