/* ======================================= */
/* ======== SET GLOBAL VARIBLES: ========= */
/* ======================================= */

html{
  --dark: #222;
  --dark-gray: #333;
  --light-gray: #ccc;
  --yellowish: #ffe23f;
  --soft-blue: rgb(98, 161, 255);
  --light-blue: rgb(154, 218, 255);
}

/* ======================================= */
/* ======== SET UTILITY CLASSES: ========= */
/* ======================================= */

.secondary{
  color: var(--soft-blue);
}

.primery{
  text-shadow: 
  -1px 0 rgb(139, 87, 18),
   0 1px rgb(59, 51, 40),
  1px 0 rgb(144, 116, 78),
   0 -1px rgb(114, 82, 42);
}

.subtext{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}